* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

.outer {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 20000px;
  background: linear-gradient(to bottom, #ffffff, #a49e9e);
}

.container {
  padding: 3% 3%;
  max-width: 1300px;
  min-width: 300px;
  width: 50%;
  height: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  position: absolute;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  flex-direction: column;
  border-radius: 20px;
  filter: drop-shadow(3px 3px 10px rgb(0, 0, 0));
  -webkit-filter: drop-shadow(3px 3px 10px rgb(0, 0, 0));
}

.container .background {
  z-index: -1;
  position: absolute;
  background: linear-gradient(to bottom, #ab9aec, #bf0741);
  border-radius: 20px;
  width: 100%;
  height: 100%;
}

.container .sep1 {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex: 1 1 150px;
  justify-content: center;
  align-items: center;
  padding: 2%;
  border-radius: 20px;
  width: 70%;
  box-shadow: 2px 2px 11px rgb(30, 4, 4);
  overflow: hidden;
  min-height: 73px;
  max-height: 400px;
  margin: 2%;
}

.container .sep1 .background2 {
  position: absolute;
  border-radius: 12px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: -1;
}

.container .tempo {
  display: flex;
  flex-wrap: nowrap;
  padding: 2%;
  flex: 1 1 120px;
  align-items: center;
  justify-content: left;
}

.container .tempo h2 {
  font-family: "Inter";
  font-weight: 900;
  color: white;
}

.container .tempo select {
  max-width: 25%;
  max-height: 30px;
  align-items: center;
  margin: 0 10px;
  border: 0;
  background-color: transparent;
  outline: none;
  font-family: "DS-Digital";
  color: white;
  font-size: 3.5vh;
  padding: 0;
}

.container .tempo select:focus {
  color: black;
  background-color: #d9d9e6;
  border-radius: 5px;
}

.container .sep2 {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  border-radius: 6px;
}

.display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
  flex: 1 1 150;
}

.container .display h1 {
  font-family: "DS-Digital";
  font-size: 3rem;
  margin: 20px 30px;
  color: white;
  max-height: 20%;
}

.buttons {
  position: relative;
  width: 100%;
  max-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 100px;
}

.container .buttons button {
  will-change: transform;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px; /* Estilos personalizados */
  color: white;
  border-radius: 4px;
  border-radius: 50%;
  width: 30%;
  padding-top: 30%;
  cursor: pointer;
  background: linear-gradient(135deg, #d0f9f1, #4867ed);
  transition: 0.3s ease;
  filter: drop-shadow(3px 5px 10px rgba(0, 10, 15, 0.267));
  border: 4px solid #610952;
  margin: 2%;
  -webkit-appearance: none;
  appearance: none;
}

.container .buttons button i {
  color: #1e0445;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50);
}
.container button:hover {
  transform: scale(1.1);
  transition: 0.3s ease;
  background: linear-gradient(135deg, #b8a1e6, #1e0445);
  color: white;
  border: 4px solid #ffffff;
}

@media screen and (max-height: 500px) {
  html,
  body {
    width: 100%;
  }

  .container {
    display: flex;
    flex-direction: row;
    width: 80%;
    min-height: 200px;
    align-items: center;
  }

  .sep1 {
    display: flex;
    width: 45%;
    height: 80%;
    max-height: none;
    flex-direction: row;
    padding: 2%;
  }

  .container .sep1 .tempo {
    position: flex;
    width: 80%;
    height: 20%;
    justify-content: left;
  }

  .container .sep1 .tempo h2 {
    font-size: auto;
  }

  .container .sep1 .tempo select {
    font-size: 2rem;
  }

  .container .sep2 {
    width: 40%;
    height: 80%;
    max-height: 300px;
  }

  .sep2 .display {
    width: 100%;
  }

  .sep2 .display h1 {
    font-size: 7vw;
  }

  .sep2 .buttons {
    flex: 1 1 150px;
    margin: 2%;
    flex-wrap: wrap;
  }
}

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    .btn {
      display: -webkit-flex; /* Flexbox para WebKit */
      -webkit-align-items: center; /* Alinhamento vertical no Safari */
      -webkit-justify-content: center; /* Alinhamento horizontal no Safari */
    }

    .btn .icon {
      -webkit-transform: translateY(
        0
      ); /* Correção de posição específica para Safari */
    }
  }
}
